@import "_typo.styl"
@import "components/_nav.styl"
@import "components/_hero.styl"
@import "components/_footer.styl"

@import "pages/_index.styl"

html
    font-size 15px

html, body
    height 100%

.page-wrap.wrap
    position relative

